<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantImages</key>
	<array>
		<string>koaPancakeHouse</string>
		<string>plantationTavern</string>
		<string>hoHoChineseCuisine</string>
		<string>l&amp;LHawaiianBarbecue</string>
		<string>pho808</string>
		<string>kapoleiKalapawai</string>
	</array>
</dict>
</plist>
